.footer {
  background-color: #01337D;
  color: #fff;
  padding: 20px;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container p {
  margin: 0;
}

.container a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

.container a:hover {
  text-decoration: underline;
}
