
.quadrado {
    padding-left: 10px;
    background-color: #3685FF;
    margin-top: 50px;
    width: 80%;
    border-bottom: 3px solid #3685FF;
    border-top: 3px solid #3685FF;
    border-right: 3px solid #3685FF;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 3px 3px #00a1eb;
}

.texto {
    color: white;
    font-family: 'HINDMADURAI 4';
}